body {
  font-family: 'Poppins', sans-serif;
  color: black;
  margin: 0;
}
.title{
  font-size: 55px;
  font-weight: 800;
  color: black;
  margin-top: 50px;
}
.grid-box{
  /* border: 1px solid; */
  align-self: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 63%;
  margin-top: 100px;
}
.navigation{
  /* border: 1px solid; */
  width: 65%;
  align-self: center;
  margin: auto;
}
.sub{
  font-size: 20px;
  color: gray;
}
.start{
  padding: 10px;
  width: 250px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 30px;
}
.start:hover{
  background-color: rgb(62, 62, 62);
  cursor: pointer;
}
.image{
  height: 500px;
}
.footer{
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.3fr;
  background-color: black;
  box-sizing: border-box;
  bottom:0;
}
.name{
  color: white;
}
.sec{
  /* border: 1px solid white; */
  padding: 30px;
  box-sizing: border-box;
}
.ucc{
  height: 100px;
}
.ark{
  color: white;
}
.sec-title{
  font-size: 25px;
  color: white;
  padding-bottom: 10px;
}
.active{
  color: #2192FF;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 1px solid; */
  width:70%;
  align-self: center;
  margin: auto;
  padding: 50px;
  margin-top: 100px;
  padding-bottom: 200px;
}
.imf{
  height: 100px;
}
.pp{
  /* border: 1px solid; */
  padding: 20px;
}
.txt{
  text-align: center;
  color: gray;
  
}
.process{
  font-size: 55px;
  font-weight: 800;
  width: 65%;
  align-self:center;
  margin: auto;
  /* border: 1px solid; */
  margin-top: 150px;
  width: fit-content;
}
ul{
  margin: 0;
  list-style-type: none;
  padding: 10px;
}
li a{
  text-decoration: none;
  padding: 20px;
  color: black;
  cursor: pointer;
  /* margin-top: -10px; */
}
.title2{
  font-size: 40px;
  font-weight: 800;
}